/** FONTS **/

@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=DynaPuff:wdth,wght@75..100,400..700&display=swap');

/** OTHER **/

body {    
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/** HEADER **/

