/** FONTS **/

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/** OTHER **/

body {
    padding: 0;
    margin: 0;

    background-color: rgb(255, 237, 250);
}

body::-webkit-scrollbar {
    display: none;
}

/** HEADER **/

.globalheaderDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 30px 50px;
    width: auto;
}

.globalTitle {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;

    color: rgb(190, 89, 133);

    margin: 0;
}

.globalTitle {
    margin-bottom: -30px;
}

.globalDesc {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;

    color: rgb(236, 127, 169);
}

.globalButtons {
    display: flex;

    margin-left: auto;
    margin-right: -0.5rem;
    margin-top: -30px;
}